@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 1000vh;
    min-width: 1050px;
    margin: auto;

    font-family: 'Noto Sans', sans-serif;
}

body>* {
    width: 100%;
}

span {
    letter-spacing: -0.08em;
}

a {
    cursor: pointer;
}

a:visited {
    color: inherit;
    text-decoration: none;
}

@tailwind utilities;

@layer base {
    :root {
        --frame-padding: 0 107px;
        --color-purple: #5F0080;
        --color-black: #4e4f4f;
        --offset-width: calc(100vw - 100%);
    }
}